.messages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sent-messages, 
.received-messages {
  min-width: 500px;
}

.sent-messages {
  margin-right: 4rem;
}

