.post-form {
  margin-left: 5rem;
}

.post {
  background-color: darkgreen;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.post-body {
  text-align: left;
}

.isActive {
  width: 30px;
  height: 30px;
}

/* Change to a checkbox or the like */
.true {
  background-color: red;
}

.false {
  background-color: black;
}

.is-author {
  background-color: darkred;
}