@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.root-container {
  display: flex;
  flex-direction: column;
  min-width: 80vw;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.auth-form {
  display: flex;
  max-width: 70%;
  justify-content: space-around;
  margin: auto;
}

.form-container {
  margin-left: 5rem;
}